@piano-roll-note-bg-1: lighten(@btn-primary-bg, 35%);
@piano-roll-note-bg-2: lighten(@btn-success-bg, 35%);
@piano-roll-note-bg-3: lighten(@btn-info-bg, 35%);
@piano-roll-note-bg-4: lighten(@btn-warning-bg, 35%);
@piano-roll-note-bg-5: lighten(@btn-danger-bg, 35%);

@piano-roll-note-border-1: lighten(@btn-primary-border, 35%);
@piano-roll-note-border-2: lighten(@btn-success-border, 35%);
@piano-roll-note-border-3: lighten(@btn-info-border, 35%);
@piano-roll-note-border-4: lighten(@btn-warning-border, 35%);
@piano-roll-note-border-5: lighten(@btn-danger-border, 35%);

@piano-roll-note-color-1: lighten(@btn-primary-color, 35%);
@piano-roll-note-color-2: lighten(@btn-success-color, 35%);
@piano-roll-note-color-3: lighten(@btn-info-color, 35%);
@piano-roll-note-color-4: lighten(@btn-warning-color, 35%);
@piano-roll-note-color-5: lighten(@btn-danger-color, 35%);

@piano-roll-note-border-radius: @border-radius-base;
