.editor.row
	.col-md-6.input
		h2 Input
		.btn-group(dropdown)
			button.btn.btn-default.dropdown-toggle(type='button')
				| Format: {{infmt | mmlFormat}}&nbsp;
				span.caret
			ul.dropdown-menu(role='menu')
				li: a(href='javascript:void(0);' ng-click='selectInputFormat("aa")') {{'aa' | mmlFormat}}
				li: a(href='javascript:void(0);' ng-click='selectInputFormat("mabi")') {{'mabi' | mmlFormat}}
		span
			| Transpose: 
			input(type='number' ng-model='transpose')
		textarea(ng-model='mml', spellcheck='false')
		.character-count {{mml.length}} characters
	.col-md-6.output
		h2 Optimized
		.btn-group(dropdown)
			button.btn.btn-default.dropdown-toggle(type='button')
				| Format: {{outfmt | mmlFormat}}&nbsp;
				span.caret
			ul.dropdown-menu(role='menu')
				li: a(href='javascript:void(0);' ng-click='selectOutputFormat("aa")') {{'aa' | mmlFormat}}
				li: a(href='javascript:void(0);' ng-click='selectOutputFormat("mabi")') {{'mabi' | mmlFormat}}
		textarea(readonly select-on-click) {{optimizedMml}}
		.character-count {{optimizedMml.length}} characters ({{optimizedRank}})
