.editor.row
	.col-md-6.input
		h2 Input
		.form.row
			.form-group.col-xs-6.col-sm-4
				label.control-label Input format
				.btn-group-justified: .btn-group(dropdown)
					button.btn.btn-default.dropdown-toggle(type='button')
						| {{infmt | mmlFormat}}&nbsp;
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='javascript:void(0);' ng-click='selectInputFormat("aa")') {{'aa' | mmlFormat}}
						li: a(href='javascript:void(0);' ng-click='selectInputFormat("mabi")') {{'mabi' | mmlFormat}}
			.form-group.col-xs-6.col-sm-4
				label.control-label Transpose
				input.form-control(type='number' ng-model='transpose')
		textarea.form-control(ng-model='mml', spellcheck='false')
		.character-count {{mml.length}} characters
	.col-md-6.output
		h2 Optimized
		.form.row
			.form-group.col-xs-6.col-sm-4
				label.control-label Output format
				.btn-group-justified: .btn-group(dropdown)
					button.btn.btn-default.dropdown-toggle(type='button')
						| {{outfmt | mmlFormat}}&nbsp;
						span.caret
					ul.dropdown-menu(role='menu')
						li: a(href='javascript:void(0);' ng-click='selectOutputFormat("aa")') {{'aa' | mmlFormat}}
						li: a(href='javascript:void(0);' ng-click='selectOutputFormat("mabi")') {{'mabi' | mmlFormat}}
		textarea.form-control(readonly select-on-click) {{optimizedMml}}
		.character-count {{optimizedMml.length}} characters ({{optimizedRank}})
