doctype html
html(lang='en', ng-app='mml-net')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title
		//styles

	body
		ul.navbar.navbar-default.navbar-static-top(role='navigation')
			.container-fluid
				.navbar-header
					a.navbar-brand(href='#') MMLnet

		.container-fluid(ng-view='')
		//scripts
