doctype html
html(lang='en', ng-app='mmlNet')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title MMLnet
		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
		//styles

	body
		ul.navbar.navbar-default.navbar-static-top(role='navigation')
			.container-fluid
				.navbar-header
					a.navbar-brand(href='#') MMLnet

		.container(ng-view='')
		//scripts
